.small-card {
  .el-card__header {
    padding: 5px  10px;
  }
  .el-card__body {
    padding: 5px 10px;
  }
}
.medium-card {
  .el-card__header {
    padding: 10px;
  }
  .el-card__body {
    padding: 10px;
  }
}
